.cenovnikContainer {
  width: 100%;

  background: radial-gradient(
      47.12% 47.12% at 100% 40%,
      rgba(0, 140, 255, 0.3) 0%,
      rgba(0, 140, 255, 0) 100%
    ),
    radial-gradient(
      47.12% 47.12% at 0% 20%,
      rgba(0, 84, 153, 0.3) 0%,
      rgba(0, 84, 153, 0) 100%
    ),
    #001c33;
}

.cenovnikLogo {
  display: block;
  max-height: 83.2rem;
  max-width: 81rem;
  margin: -4rem auto 0 auto;

  mix-blend-mode: color-dodge;
  opacity: 0.9;
  z-index: 5;
  pointer-events: none;
}

.cenovnikSlider {
  width: 100%;
  // height: 65rem;
  // overflow-x: scroll;
  margin: -73rem auto -10rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  cursor: pointer;

  &:active {
    cursor: grabbing;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  & > div {
    width: 67.5rem;
    height: fit-content;

    background: #f2f2f2;
    border: 10px solid rgba(21, 21, 74, 0.3);
    border-radius: 50px;
    position: relative;
    margin-bottom: 5rem;
    pointer-events: none;

    display: flex;
    flex-direction: column;

    h1 {
      font-family: "Space Grotesk";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 46px;
      color: #003866;
      align-self: center;
      // margin: 6rem 0 4rem 6rem;
      margin: 6rem 0;
    }

    h5 {
      align-self: flex-end;
      font-family: "Space Grotesk";
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 13px;
      text-align: center;
      color: #b9b9b9;
      align-self: flex-end;
      margin-right: 10rem;
      margin-top: 2rem;
    }

    & > div {
      // display: grid;
      // grid-template-columns: repeat(6, 5rem);
      // grid-row-gap: 1.8rem;
      // grid-column-gap: 3rem;
      // margin: 0 auto;

      & > div {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.uvod {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #003866;

  margin: 2rem 5rem 4rem 5rem;
}

.jednokrilniProzori,
.dvokrilniProzori,
.jbv,
.dbv,
.roletne,
.komarnici,
.ulaznaVrata {
  display: grid;
  grid-template-columns: 15rem 15rem;
  grid-row-gap: 1rem;
  grid-column-gap: 5rem;

  justify-content: center;

  margin-bottom: 5rem;
}

.measures {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: #003866;
}

.prices {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #001c33;
}

.line {
  grid-column-start: 1;
  grid-column-end: 3;
  border-bottom: 1px solid #b9b9b9;
  width: 100%;
}

@media (max-width: 900px) {
  .cenovnikLogo {
    width: 70rem;
  }

  .cenovnikSlider {
    // height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -65rem;

    & > div {
      min-width: 50rem;
      height: fit-content;
      margin: 4rem 5rem;

      h1 {
        font-size: 30px;
        margin: 3rem 0 2rem 0;
      }

      h5 {
        margin-right: 5rem;
      }

      & > div {
        grid-column-gap: 1.5rem;
        grid-row-gap: 1rem;
        margin-top: 3rem;
        margin-bottom: 5rem;
      }
    }
  }
}

@media (max-width: 700px) {
  .cenovnikLogo {
    display: none;
  }

  .cenovnikSlider {
    margin: 5rem auto -10rem auto;

    & > div {
      width: 90%;
      height: fit-content;

      h1 {
        font-size: 24px;
        margin: 1.5rem 0 1rem 0;
      }

      h5 {
        margin-right: 2.5rem;
      }
      & > div {
        grid-column-gap: 0;
        grid-row-gap: 0.5rem;
        margin-top: 1.5rem;
        margin-bottom: 3rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .cenovnikSlider {
    overflow-x: none;
    margin: 0 auto;

    & > div {
      min-width: 95%;
      height: fit-content;
      margin: 4rem auto;
      // padding: 0 2rem;
      border: 5px solid rgba(21, 21, 74, 0.3);

      p {
        text-align: left;
        width: 90%;
        margin-left: 2rem;
        margin-right: 2rem;
      }

      h1 {
        font-size: 24px;
        margin: 2rem 0 2rem 0;
        text-align: center;
      }

      & > div {
        margin-top: 0rem;
        margin-bottom: 3rem;
      }
    }
  }

  .measures {
    font-size: 10px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prices {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .jednokrilniProzori,
  .dvokrilniProzori,
  .jbv,
  .dbv,
  .roletne,
  .komarnici,
  .ulaznaVrata {
    grid-template-columns: 15rem 10rem;
  }
}

@media (max-width: 300px) {
  .cenovnikSlider {
    & > div {
      h1 {
        margin: 4rem 2rem 2rem 2rem;
      }

      p {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0;
      }
    }
  }

  .jednokrilniProzori,
  .dvokrilniProzori,
  .jbv,
  .dbv,
  .roletne,
  .komarnici,
  .ulaznaVrata {
    grid-template-columns: 12rem 8rem;
  }

  .prices {
    font-size: 12px;
  }
}
